<h2 class='title'> Your All-time Mojo! </h2>

<div class='right-row clearfix'>
  <!-- start with mojo meter of 1 instead of all 0's? -->
  <div class='mojo-count happy'> { <%= @scounts['biggrin'] %>, <%= @scounts['smile'] %> } </div>  
  <img class='smi' src='../static/smi/biggrin.png'>
  <img class='smi' src='../static/smi/smile.png'>'S
</div>

<div class='right-row  clearfix'>
  <div class='mojo-count neutral'> <%= @scounts['dry'] %> </div>  
  <img class='smi' src='../static/smi/dry.png'>'S
</div>

<div class='right-row  clearfix'>
  <div class='mojo-count sad'> { <%= @scounts['sad'] %>, <%= @scounts['tears'] %> } </div>  
  <img class='smi' src='../static/smi/sad.png'>
  <img class='smi' src='../static/smi/tears.png'>'S
</div>

<!-- qotd based on user's last post -->
<div class='right-row quote clearfix'>
  <img class='smi' src='../static/smi/dry.png'>
  <div class='text-quote'>
    <span class='neutral'>
      If you do not change direction, you may end up where you are heading.
    </span>
    <div class='time'>
      <a href='http://en.wikipedia.org/wiki/Laozi' target="_blank">Lao Tzu</a> posted about 2300 years ago
    </div>
  </div>
</div>

 <br>
  <br>
  <h2 class='title'> Spread the word! </h2>
  <div> Give the gift of the Mojo to your friends, your mojo will be returned. Type in the email of friends you'd like to invite, we'll send them an invite.</div>
  <input type=text style='width: 19em; margin: 1em; margin-left: 0' />

  <a href='#'> Invite! </a>
<div>