<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN"
	"http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">
<head>
	<title>Meta-Mojo - Srini</title>
  <link href="../static/ie.css" media="screen" rel="stylesheet" type="text/css" />
  <link href="../static/screen.css" media="screen" rel="stylesheet" type="text/css" />
  <link href="../static/jquery-ui-custom.css" media="screen" rel="stylesheet" type="text/css" />
  <link href="../static/mm.css" media="screen" rel="stylesheet" type="text/css" />
  <link href='http://fonts.googleapis.com/css?family=Slackey' rel='stylesheet' type='text/css'>
  <link href='http://fonts.googleapis.com/css?family=Cuprum' rel='stylesheet' type='text/css'>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.5.2/jquery.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.12/jquery-ui.min.js"></script>
  <script type='text/javascript' src='../static/jquery.autogrow.js'></script> 
  <script type='text/javascript' src='../static/app.js'></script> 
</head>

<body>
  <div id='whoami-wrapper'>
    <div id='whoami'>
      <div class='menuitem logo'>
        <a href='/'><div class='mojo happy'>  Meta Mojo </div> </a>
      </div>
    
      <% if logged_in? %>
      <div class='person menuitem active'>
        <h3>My Updates</h3>
      </div>
    
      <div class='main-actions menuitem'>
        <h3>My Mojo</h3>
      </div>
      <% end %>

      <div class='logout'>
      <% unless logged_in? %>
        <a class="rpxnow" onclick="return false;" href="<%= LoginLink %>"> Sign In </a>
      <% else %>
        Hey, <%= session[:current_user] %>! &nbsp;&nbsp;&nbsp;
        <a href='/logout'> Logout </a>
      <% end %>
      </div>
    </div>
  </div>

  <div class='container'>  
    <% unless logged_in? %>
      <%= erb :unloggedin %>
    <% else %>
      <div class='span-15' id='center'>    
        <%= erb :new_post %>  
        <%= erb :posts %>
      </div>
    
      <!-- TODO: fix top margins -->
      <div class='span-8' id='right'>
        <%= erb :all_time_mojo %>
      </div>
    <% end %>
  </div>

  <script type="text/javascript">
    var rpxJsHost = (("https:" == document.location.protocol) ? "https://" : "http://static.");
    document.write(unescape("%3Cscript src='" + rpxJsHost +
          "rpxnow.com/js/lib/rpx.js' type='text/javascript'%3E%3C/script%3E"));
  </script>
    
  <script type="text/javascript">
      RPXNOW.overlay = true;
      RPXNOW.language_preference = 'en';
      
      $(document).ready(function(){ $.each($("textarea"), function(i, v) { $(v).autoGrow(); }); });
    </script>

</body>
