<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN"
	"http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">
<head>
	<title>Meta-Mojo - Srini</title>
  <link href="../static/ie.css" media="screen" rel="stylesheet" type="text/css" />
  <link href="../static/screen.css" media="screen" rel="stylesheet" type="text/css" />
  <link href="../static/mm.css" media="screen" rel="stylesheet" type="text/css" />
  <link href='http://fonts.googleapis.com/css?family=Slackey' rel='stylesheet' type='text/css'>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.5.2/jquery.min.js"></script>
  <script type='text/javascript' src='../static/jquery.defaultText.js'></script> 
</head>

<body>
  <div id='whoami-wrapper'>
  <div id='whoami'>
    <div class='menuitem logo'>
      <div class='mojo'> Meta <br /> Mojo </div>
    </div>
    
    <div class='person menuitem inactive'>
      <img style='float:left' class='profilepic' src='../static/me.jpg' />
      <div class='mojo'>Me</div>
    </div>
    
    <div class='main-actions active menuitem mlast'>
      <img style='float:left; width:80px; margin: 0.1 0.5em' src='../static/smi/graph.png'> 
      <div class='mojo'>My Mojo</div>
    </div>

    <div style='float:right; width: 100px; padding: 10px 25px 0 0' class='links'>
      <a style='float:right; margin: 0 5px; color: #777' href='#'> Settings </a>

      <% unless logged_in? %>

      <!-- remember to change this to localhost when developing -->

      <a style='float:right; margin: 0 5px; color: #777' class="rpxnow" onclick="return false;"
        href="https://mojo-jr.rpxnow.com/openid/v2/signin?token_url=http%3A%2F%2Fmojo-jr.appspot.com%2Frpx"> Sign In </a>

      <!--a style='float:right; margin: 0 5px; color: #777' class="rpxnow" onclick="return false;"
      href="https://mojo-jr.rpxnow.com/openid/v2/signin?token_url=http%3A%2F%2Flocalhost%3A8080%2Frpx"> Sign In 
      </a-->

    <% else %>
      <div style='float:right; margin: 0 5px; color: #777'> <%= session[:current_user] %> </div>
      <a href='/logout'> Logout </a>
    <% end %>
    </div>
  </div>
  </div>

  <script>
    function selectSmiley(name) {
      $.each($("#smiley-strip .smi"), function(i, v) { $(v).removeClass('selected'); });
      $.each($("#smiley-strip input[type=submit]"), function(i, v) { $(v).hide() });
      $("#s-" + name).addClass('selected');
      $("#smiley-value").val(name);
      $("#b-" + name).show();
    }
  </script>
  
  <div class='container'>
    <div class='span-15' id='center'>    
      <form class='clearfix' id='new_entry' method='post'>
        <textarea name='message' title='Whats in your mind?'></textarea>
        <input type='hidden' id='smiley-value' name='smiley' value='dry' />
        <div id='smiley-strip'>
          
          <% Post::Smileys.reverse.each do |s| %>
            <div id='s-<%= s %>' class='smi <%= 'selected' if s == Post::DefaultSmiley %>'>
              <img id='s-i-<%= s %>' class='smi-i' src='../static/smi/<%= s %>.png' onmouseover='selectSmiley("<%= s %>")'>
              <input id='b-<%= s %>' style='display:<%= s == Post::DefaultSmiley ? "show" : "none" %>' type='submit' value='Post' />
            </div>
          <% end %>

        </div>
      </form>

      <%unless logged_in? %>
        <h1> You have to be logged in to see all the Mojoness! </h1>
      <% else %>
      
      <% if @posts.size > 0 %>
        <% @posts.each do |s| %>
          <%= puts s.inspect %>

          <div class='message  clearfix'>
            <img class='smi' style='float:left;' src='../static/smi/<%= s.smiley %>.png'>
            <div class='text' style="float: left; margin-left: 10px">
              <span class='<%= s.smiley %>'>
                <%= s.message %>
              </span>
              <div class='time' >
                posted <%= time_dist(s.created_at) %> ago
              </div>
            </div>
          </div>

        <% end %>
      <% else %>

        <center class='no_posts'>
          <!-- need some padding here! -->
          <h2> No posts yet :( </h2> <h3> Maybe you should get started <br /> by posting a happy message first :) </h3>
        </center>
      <% end %>

    <% end %>

     
      </div>
    
    <div class='span-8' id='right'>
      <!--div id='nav'>
        <a href='#'> Back Home </a> &nbsp; &nbsp; &nbsp; &nbsp;
        <a href='#' style='float:right'> Logout </a>
      </div-->
      <h3 class='title'> Your All-time Mojo! </h3>
      
      <div class='friend-message  clearfix'>
        <!-- start with mojo meter of 1 instead of all 0's? -->
        <div class='mojo-count happy'> { <%= @scounts['biggrin'] %>, <%= @scounts['smile'] %> } </div>  
       <img class='smi' style='float:left;' src='../static/smi/biggrin.png'>
       <img class='smi' style='float:left;' src='../static/smi/smile.png'>'S
      </div>
      
      <div class='friend-message  clearfix'>
        <div class='mojo-count neutral'> <%= @scounts['dry'] %> </div>  
       <img class='smi' style='float:left;' src='../static/smi/dry.png'>'S
      </div>
      
      <div class='friend-message  clearfix'>
        <div class='mojo-count sad'> { <%= @scounts['sad'] %>, <%= @scounts['tears'] %> } </div>  
       <img class='smi' style='float:left;' src='../static/smi/sad.png'>
       <img class='smi' style='float:left;' src='../static/smi/tears.png'>'S
     </div>

     <!-- qotd based on user's last post -->
      <div class='friend-message  clearfix'>
        <img class='smi' style='float:left;' src='../static/smi/dry.png'>
        <div class='text' style="float: left; margin-left: 10px">
          <span class='neutral'>
            Whatever happens, life has to go on - Lao Tzu
          </span>
          <div class='time'>
            <a href='#'>tony</a> posted 2 days ago
          </div>
        </div>
      </div>
      
      <br>
      <br>
      <h3 class='title'> Spread the word! </h3>
      <div> Give the gift of the Mojo to your friends, your mojo will be returned. Type in the email of friends you'd like to invite, we'll send them an invite.</div>
      <input type=text style='width: 19em; margin: 1em; margin-left: 0' />

      <a href='#'> Invite! </a>
      <!--img class='friendpic' src='../static/me.jpg' /-->
    <div>

    <center>
      <img src="http://code.google.com/appengine/images/appengine-silver-120x30.gif" 
        alt="Powered by Google App Engine" />
    </center>
    
  </div>

  <script>
    $.defaultText();
  </script>


  <script type="text/javascript">
    var rpxJsHost = (("https:" == document.location.protocol) ? "https://" : "http://static.");
    document.write(unescape("%3Cscript src='" + rpxJsHost +
          "rpxnow.com/js/lib/rpx.js' type='text/javascript'%3E%3C/script%3E"));
    </script>
    <script type="text/javascript">
      RPXNOW.overlay = true;
      RPXNOW.language_preference = 'en';
      </script>

</body>
