<form class='entry clearfix' id='new_entry' method='post' onsubmit='if (!checkform("new_entry")) { $("textarea[name=message]").focus(); return false; }'>
  <textarea name='message' id='new_entry_message'></textarea>
  <input type='hidden' class='smiley-value' name='smiley' value='<%= Post::DefaultSmiley %>' />

  <div id='smiley-strip' class='smiley-strip'>
    <% Post::Smileys.reverse.each do |s| %>
      <div class='s-<%= s %> smi <%= 'selected' if s == Post::DefaultSmiley %>' onmouseover='selectSmiley("new_entry", "<%= s %>")'>
        <img class='s-i-<%= s %> smi-i' src='../static/smi/<%= s %>.png'>
        <input class='b-<%= s %>' style='display:<%= s == Post::DefaultSmiley ? "show" : "none" %>'
          type='submit' value='Post' />
      </div>
    <% end %>
  </div>
</form>
